<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="\Magento\Customer\Controller\Account\LoginPost">
    <plugin 
      name="helm_brandfilterhide_loginpost" 
      type="\Helm\BrandFilterHide\Plugin\LoginPostPlugin" 
      sortOrder="1" />
  </type>
  <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="helm_brandfilter_check_authorization"
                type="\Helm\BrandFilterHide\Plugin\CheckAuthorisedCustomerGroup"
                sortOrder="2"
                disabled="false"/>
  </type>
</config>