.top-container {
    &.castrolfunds {
        background: white;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
    }
    #castrol-fund-balance{
        display: flex;
        justify-content: right;
        color: #000;
        font-weight: 600;
    }
}


