
& when (@media-common =true) {
    .catalog-product-view {
        .child-products-kit {
            clear: both;
            .child-product-list {
                display:flex;
                flex-direction: column;
            }
            .left {
                width: 40%;
                img {
                    width: 50%;
                }
            }
            .right {
                width: 60%;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            .child-product-list_product {
                display: flex;
                border: solid 1px #D3D3D3;
                border-radius: 3px
            }
        }
    }
}